/* fonts */
@font-face {
  font-family: circularStdBold;
  src: url(../fonts/FontsFree-Net-CircularStd-Bold.ttf);
}

/*animation */
@keyframes blinking {
  0% {
    color: #FFFFFF;
  }

  100% {
    color: #212529;
  }
}

.seperator {
  animation: blinking 1s infinite;
}